DJANGO_SECRET_KEY=
SECRET_KEY=
DJANGO_ALLOWED_HOSTS=
DEBUG=
DJANGO_CSRF_TRUSTED_ORIGINS=

MAILGUN_API_KEY=
MAILGUN_SENDER_DOMAIN=
DEFAULT_FROM_EMAIL=
SERVER_EMAIL=
MAILGUN_API_URL=

FRONTEND_URL=

PGUSER=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

DATABASE_ENGINE=postgresql_psycopg2
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_PORT=

